*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  @font-face {
    font-family: 'Operetta';
    src: url(celine-stencil.otf);
  }
@font-face {
    font-family: 'brandon';
    src: url(HVD\ Fonts\ -\ BrandonText-Light.otf);
}

::selection{
  background: rgb(0, 0, 0);
}

div.abc{
  width:100%;
  height:100vh;
  position: relative;
}
nav{
  width: 100%;
  position: fixed;
  height: 50px;
  line-height: 50px;
  padding: 10px 0;
  z-index: 4;
  overflow: hidden;
}

nav ul{
  float: right;
    margin-right: 0;
  }

nav ul li{
    list-style-type: none;
    display: inline-flex;
    transition: 0.7s all;
    margin-right: 40px;
  } 

nav ul li a{
  text-decoration: none;
  color: #ffffff;
  padding: 30px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  font-family:'brandon';
  
  display: inline-block;
  padding: 3px 10px;
  position: relative;
}
nav ul li a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 10;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: top;
  background: #ffffff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav ul li a:hover:after{
  width: 100%;
  left:0;
}

.rectangle {
    height: 80px;
    width: 1920px;
    background-color: #f09f72;
    top:0; 
    left:0;
    position: fixed;
    z-index: 3;
  }

  .h1{
    font-family: 'Operetta';
    font-size: 50px;
    font-weight: 600;
    color: #20262E;
    text-align: center;
    padding-top: 100px;
  }

 .row1{
  height: 350px;
  padding-top: 20px;
  overflow-y: hidden;
 }
  .column1 {
    float: left;
    width: 65%;
    padding: 10px;
    padding-left: 20px;
  }
  
  .column2 {
    float: right;
    width: 35%;
    padding: 10px;
  }

  .h1-1{
    font-family: 'Operetta';
    font-size: 25px;
    color: #ba8d81;
    
  }

  .p{
    font-family: 'brandon';
    font-size:16px;
    text-align: justify;
    padding-top: 10px;
    color: black;
    padding-right: 10px;
  }
.caption{
  font-family: 'brandon';
  font-size: 14px;
  text-align: left;
  color: black;
}

.img{
  height:100%;
  width: 100%;
}
.row2{
  padding-top: 20px;
 }
 .column3{
  float: left;
  width: 50%;
  padding: 10px;
  padding-right: 50px;
  padding-left: 20px;
}

.column4 {
  float: right;
  width: 50%;
  padding: 10px;
  padding-right: 50px;
  padding-left: 20px;
}

ul.a {
  list-style-type: circle;
  font-family: 'brandon';
  font-size:16px;
  color: black;
  padding-right: 10px;
  line-height: 1.7;
}

.mark{
  color: black;
  background-color: transparent;
  font-weight:900;
}

.row3{
  padding-top: 20px;
 }
 .column5{
  float: left;
  width: 50%;
  padding: 10px;
  padding-right: 50px;
  padding-left: 20px;
}

.column6 {
  float: right;
  width: 50%;
  padding: 10px;
  padding-right: 50px;
  padding-left: 20px;
}

.row4{
  padding-top: 20px;
 }
 .column7{
  float: left;
  width: 50%;
  padding: 10px;
  padding-right: 50px;
  padding-left: 20px;
}

.column8 {
  float: right;
  width: 50%;
  padding: 10px;
  padding-right: 50px;
  padding-left: 20px;
}

::-webkit-scrollbar{
  width: 0;
}